.sidebar {
    height: 100%;
    width: 5%;
    min-width: 60px;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008cff;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 10%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar img {
    padding:5px;
    filter: invert(1);
  }

  .sidebar img:hover {
    background-color: #006dc6;
    border-radius: 10px;
    filter: invert(0);
  }

  .sidebarSelected {
    background-color: #ff9239;
    border-radius: 10px;
  }

  .detail-page {
    margin-left: 5%;
  }

  .widgetlist {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: 2vh auto;
    padding: 0;
    list-style-type: none;
}

.widget {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1vw;
  margin-bottom: 1vw;
  background-color: #d1dbe4;
  box-shadow: 0 4px 8px 0 rgba(57, 78, 96, 0.3);
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
}

.widget span {
  margin-top: auto;
  margin-bottom: auto;

}

.amount {
  width:10vw;
  margin-left: 1vw;
  margin-right: auto;
  font-size: 120%;
}

.line {
  padding-right: 5%;
}

.title {
  align-self: left;
  align-content: left;
  text-align: left;
  width: 40%;
  font-size: 120%;
}

.categorySpan {
  margin-left: auto; 
  margin-right: 2vw;
  width: 10vw;
  align-self:left;
}

.category {
  border-radius: 25px;
  padding: 5px;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.date {
  margin-left: auto; 
  margin-right: 2vw;
  min-width: fit-content;
}

.delete {
  align-content: right;
  align-self: right;
  margin-left: auto; 
  margin-right: 1vw;
}

.edit {
  align-content: right;
  align-self: right;
  margin-left: auto; 
  margin-right: 1vw;
}

#repeatIcon {
  margin-left: auto; 
  margin-right: 2vw;
  visibility: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

#personIcon {
  margin-left: auto; 
  margin-right: 2vw;
  visibility: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

.frozen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}

.frozen-open {
  visibility: visible;
}

.popup {
  text-align: center;
  background-color: #d1dbe4;
  top: 0;
  left: 50%;
  width: 30%;
  height: 80%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.01);
  visibility: hidden;
  border-radius: 25px;
  transition: transform 0.4s, top 0.4s;
}

.popup-open {
  text-align: center;
  background-color: #d1dbe4;
  top: 50%;
  left: 50%;
  width: 30%;
  height: fit-content;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  padding: 2vw;
}

.inputSpan {
  text-align: left;
  width: 80%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inputSpan input {
  padding: 1%;
  padding-left: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#category {
  padding: 5px;
}

h1 {
  font-size: 200%;
}