@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.login {
    text-align: center;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    width: 20%;
    height: fit-content;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    border-radius: 25px;
    padding: 2vw;
  }
  
  .inputSpan {
    text-align: left;
    width: 80%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
  }
  
  .login input {
    width: 70%;
  }

  body {
    background-color: #d1dbe4;
    text-align: center;
  }

  .proceed{
    border-width: 0px;
    border-radius: 10px;
    background-color:#008cff;
    font-size: 100%;
    color: #ffffff;
    width: 75%;
    height: 2vw;
    font-family: 'Raleway', sans-serif;
  }

  .toggleType{
    border-width: 0px;
    border-radius: 10px;
    background-color:lightgray;
    font-size: 100%;
    width: 75%;
    height: 2vw;
    font-family: 'Raleway', sans-serif;
  }

  .firstPart {
    align-self: center;
    font-size: 200%;
    margin-top: 5%;
    color: #008cff;
    font-family: 'Raleway', sans-serif;
  }

  .scoundPart {
    align-self: center;
    font-size: 200%;
    margin-top: 5%;
    color: black;
    font-family: 'Raleway', sans-serif;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
  }

  p {
    font-family: 'Raleway', sans-serif;
  }

  .errorMessage {
    color: red;
    font-family: 'Raleway', sans-serif;
  }