@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

h1 {
margin-left: 10%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: normal;
    align-content: flex-start;
    margin-left: 5%;
    margin-top: 0px;
}

.flex-items:nth-child(1) {
    display: block;
    width: 30%;
    align-self: normal;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    width: 30%;
    align-self: normal;
    order: 0;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    width: 30%;
    align-self: normal;
    order: 0;
  
  }

  .sidebar {
    height: 100%;
    width: 5%;
    min-width: 60px;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008cff;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 10%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar img {
    padding:5px;
    filter: invert(1);
  }

  .sidebar img:hover {
    background-color: #006dc6;
    border-radius: 10px;
    filter: invert(0);
  }

  .sidebarSelected {
    background-color: #ff9239;
    border-radius: 10px;
  }

  .container {
    display: block;
    background-color:#ffffff;
    border-radius: 25px;
    width:100%;
    height: fit-content;
  }

  .containerDouble {
    display: block;
    background-color:#ffffff;
    border-radius: 25px;
    width:100%;
    text-align: center;
  }

  .footer {
    flex: 0 1 40px;
  }

  .container h2 {
    padding: 5%;
    font-family: 'Raleway', sans-serif;
  }

  .containerDouble h2 {
    padding: 5%;
    font-family: 'Raleway', sans-serif;
  }

  .containerDouble button {
    align-self: flex-end;
    margin: 5%;
  }
  
  body {
    transition: margin-left .5s;
    padding: 1vw;
    background-color: #d1dbe4;
  }

  .ui {
    margin-top: 0;
    padding-top: 0;
  }

  .widgetlist {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: fit-content;
    max-height: 65vh;
    margin: 2vh auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3%;
    list-style-type: none;
}

.widget {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 1vw;
    margin-bottom: 1vw;
    background-color:#f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.amount {
  padding-right: 5%;
}

.frozen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}

.frozen-open {
  visibility: visible;
}

.popup {
  text-align: center;
  background-color: #d1dbe4;
  top: 0;
  left: 50%;
  width: 30%;
  height: 80%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.01);
  visibility: hidden;
  border-radius: 25px;
  transition: transform 0.4s, top 0.4s;
}

.popup-open {
  text-align: center;
  background-color: #d1dbe4;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 80%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}

.inputSpan {
  text-align: center;
  width: 80%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.inputSpan input {
  padding: 1%;
  padding-left: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.firstPart {
  align-self: left;
  font-size: 150%;
  margin-top: 5%;
  color: #008cff;
  font-family: 'Raleway', sans-serif;
}

.scoundPart {
  align-self: left;
  font-size: 150%;
  margin-top: 5%;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.info {
  font-family: 'Raleway', sans-serif;
  align-self: center;
  padding: 5px;
}

.balancePanel{
  text-align: center;
}

.logo {
  text-align: center;
  font-size: 2.5vw;
  padding-left: 0;
  margin-left: 0;
}

#categoryChart {
  height: 2vw;
  width: 2vw;
}

#repeatIcon {
  margin-left: auto; 
  margin-right: 5%;
}